{
    "extends": "airbnb-base",
    "globals": {
        "op": true,
        "ele": true,
        "gui": true,
        "navigator": true,
        "document": true,
        "BroadcastChannel": true,
        "window": true,
        "AudioContext": true,
        "CABLES": true,
        "XMLHttpRequest": true,
        "Raphael": true,
        "ace": true,
        "logStartup": true,
        "attachments": true,
        "CABLESUILOADER": true,
        "iziToast": true,
        "CGL": true,
        "vec2": true,
        "vec3": true,
        "vec4": true,
        "mat3": true,
        "mat4": true,
        "quat": true,
        "chroma":true,
        "QRCode":true,
        "moment":true,
        "marked": true,
        "Ops":true,
        "ColorRick":true,
        "introJs": true,
        "UndoManager": true,
        "Handlebars": true,
        "hljs": true,
        "tinysort": true,
        "loadjs": true,
        "pako": true,
        "MathParser": true,
        "socketClusterClient": true,
        "incrementStartup": true,
        "mmd": true,
        "platform": true
    },
    "env": {
        "browser": true
    },
    "parserOptions": {
        "ecmaVersion": 2020
    },
    "rules": {
        "object-property-newline": "error",
        "global-require": 1,
        "no-compare-neg-zero": 0,
        "camelcase": 0,
        "class-methods-use-this": 0,
        "no-var": 1,
        "vars-on-top": 0,
        "no-bitwise": 0,
        "no-underscore-dangle": 0,
        "brace-style": [
            1,
            "allman",
            {
                "allowSingleLine": true
            }
        ],
        "func-names": 0,
        "max-len": [
            0,
            {
                "code": 120,
                "tabWidth": 4,
                "comments": 300,
                "ignoreComments": true
            }
        ],
        "no-param-reassign": 0,
        "consistent-return": 0,
        "eqeqeq": 0,
        "one-var": 0,
        "no-unused-vars": 0,
        "no-lonely-if": 0,
        "no-plusplus": 0,
        "indent": [
            1,
            4
        ],
        "quotes": [
            1,
            "double"
        ],
        "quote-props": [
            1,
            "always"
        ],
        "comma-dangle": 0,
        "nonblock-statement-body-position": 0,
        "curly": 0,
        "object-shorthand": 0,
        "prefer-spread": 0,
        "no-loop-func": 0,
        "no-trailing-spaces": 1,
        "space-before-function-paren": 1,
        "space-in-parens": 1,
        "space-infix-ops": 1,
        "keyword-spacing": 1,
        "padded-blocks": 1,
        "comma-spacing": 1,
        "space-before-blocks": 1,
        "spaced-comment": 1,
        "object-curly-spacing": 1,
        "object-curly-newline": 0,
        "implicit-arrow-linebreak": 0,
        "operator-linebreak": 0,
        "array-element-newline": 0,
        "function-paren-newline": 0,
        "no-self-compare": 0,
        "no-case-declarations": 0,
        "default-case": 0,
        "no-empty": 0,
        "no-use-before-define": 0,
        "no-multi-assign": 0,
        "no-extend-native": 0,
        "no-prototype-builtins": 0,
        "array-callback-return": 1,
        "prefer-destructuring": 0,
        "no-restricted-syntax": ["error", "TemplateLiteral"],
        "no-restricted-globals": 0,
        "no-continue": 0,
        "no-console": 1,
        "no-else-return": 0,
        "one-var-declaration-per-line": 0,
        "guard-for-in": 0,
        "no-new": 0,
        "radix": 0,
        "no-template-curly-in-string": 0,
        "no-useless-constructor": 0,
        "import/no-dynamic-require": 0,
        "import/no-cycle": [
            1,
            {
                "maxDepth": 3
            }
        ],
        "prefer-template": 0,
        "prefer-rest-params": 0,
        "no-restricted-properties": 0,
        "import/prefer-default-export": 0,
        "import/no-default-export": 0,
        "import/extensions": 0,
        "prefer-arrow-callback": 0,
        "arrow-body-style": [ "error", "always"],
        "new-cap": 0,
        "prefer-const": 0,
        "padding-line-between-statements": [
            1,
            {
                "blankLine": "always",
                "prev": "function",
                "next": "*"
            }
        ],
        "no-return-await": 0,
        "no-multiple-empty-lines": 0,
        "no-mixed-operators":0
    }
}
